<%- include('./partials/head.ejs') %>
    <title><%= pagetitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1><%= h1content %></h1>
  <%- include('./partials/end.ejs') %>