<%- include('../partials/head.ejs') %>
    <title><%= pagetitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="/css/product.css" />
  </head>

  <body>
    <%- include('../partials/nav.ejs') %>

    <main>
      <form class="product-form" action="/admin/editproduct" method="POST">
        <div class="form-control">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" value="<%= iseditMode ? productData.title : '' %>"/>
        </div>
        <div class="form-control">
          <label for="price">Price</label>
          <input type="number" name="price" id="price" step="0.01" value="<%= iseditMode ? productData.price : '' %>"/>
        </div>
        <div class="form-control">
          <label for="image">Image</label>
          <input type="text" name="image" id="image" value="<%= iseditMode ? productData.image : '' %>"/>
        </div>
        <div class="form-control">
         <label for="description">Description</label>
        <textarea name="description" id="description"><%= iseditMode ? productData.description : '' %></textarea>
        </div>

        <% if(iseditMode) {%>
        <input type="hidden" name="productId" value= "<%= iseditMode ? productData.id : ''%>" />
        <% } %>

        <button class="btn" type="submit"><%= iseditMode ? 'Edit product' : 'Add product' %></button>
      </form>
    </main>
  <%- include('../partials/end.ejs') %>
